{% extends 'usuarios/base.html' %}

{% block title %}Login | Alura Space{% endblock %}

{% block content %}
<form action="" method="">
    {% csrf_token %}
    <div class="row">
        {% for field in form.visible_fields %}
            <div class="col-12 col-lg-12 mb-3" style="color:#D9D9D9;">
                <label for="{{fidel.id_for_label}}" style="color:#D9D9D9;"><b>{{field.label}}</b></label>
                <input type="username" class="form-control", name="{{fidel.id_for_label}}" placeholder="{{field.label}}" required>             
            </div>
        {%endfor%}
    </div>
    <div>
        <button type="submit"> Logar </button>
    </div> 
</form>
{% endblock %}
